.table .dropdown{
    height: 100%;
}
.table .dropdow img{
    margin-top: 10%;
}
body::-webkit-scrollbar {
    background: #e2e8f0;
    border-radius: 0.78vw;
    width: 0.37vw;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 0.78vw;
    background-color: #313860;
}
  
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 0.78vw;
    background-color: #e2e8f0;
}

.custom__label{
  font-weight: 600;
  font-size: 14px;
  color: #2D3748;
}

.btn-dark, .btn.bg-gradient-dark{
  font-weight: 500 !important;
}

.delete__btn{
  font-weight: 600 !important;
  font-size: 16px !important;  
  color: #2D3748 !important;
  background-color: unset !important;
  box-shadow: unset !important;
}

.table thead th{
  text-align: center !important;
}
.dropdown__content__top{
  bottom: 20px;
}

.table tr:nth-last-child(-n+2) .dropdown-content{
  bottom: 20px;
}



.table-wrapper::-webkit-scrollbar {
  background: #e2e8f0;
  border-radius: 0.78vw;
  width: 0.37vw;
  height: 0.57vw;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.78vw;
  background-color: #313860;
}

.table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.78vw;
  background-color: #e2e8f0;
}